$nonmetal: rgb(231, 172, 45);
$nobleGas: rgb(216, 5, 5);
$alkaliMetal: rgb(139, 20, 194);
$alkalineEarthMetal: rgb(101, 24, 245);
$metalloid: rgb(77, 172, 156);
$transitionMetal: steelblue;
$metal: rgb(173, 177, 197);
$halogen: rgb(255, 97, 6);

$lanthanoid: rgb(118, 216, 38);
$actinoid: rgb(122, 194, 122);
