.box {
  // border: 1px solid rgb(228, 221, 221);
  background-color: black;
  width: $elementBoxWidth;
  height: $elementBoxHeight;
  font-size: $elementBoxFontSize;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;

  transition: all 0.4s;
  transition-property: transform;

  &:hover,
  &:focus {
    padding: 0 0.2rem;
    transform: scaleX(1.6) scaleY(1.6);
    z-index: 2;
    border: $elementBoxBorder solid goldenrod;

    align-items: start;

    .name {
      display: inline-block;
      grid-row: 3 / -1;
      grid-column: 1 / -1;
      justify-self: center;

      transform: scaleX(0.55) scaleY(0.55);
    }

    .number {
      display: inline-block;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      font-size: 60%;
    }

    .mass {
      display: inline-block;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      margin-left: auto;
      font-size: 60%;
    }
  }
}

.symbol {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  font-size: 140%;
  font-weight: bold;
}

.name {
  display: none;
  // position: absolute;
  // bottom: 0;
  transition: opacity 0.4s ease 0.6s;
}

.number {
  display: none;
  // position: absolute;
  // left: 0;
  // top: 0;
  transition: opacity 0.4s ease 0.6s;
}

.mass {
  display: none;
  // position: absolute;
  // right: 0;
  // top: 0;
  transition: opacity 1s ease 1s;
}

.h {
  grid-column: 1 / 18;
}

.be {
  grid-column: 2 / 13;
}

.mg {
  grid-column: 2 / 13;
}

.ba,
.ra {
  grid-column: 2 / span 2;
}

.nonmetal {
  border: $elementBoxBorder solid $nonmetal;
  color: $nonmetal;
}

.noble_gas {
  border: $elementBoxBorder solid $noble_gas;
  color: $noble_gas;
}

.alkali_metal {
  border: $elementBoxBorder solid $alkali_metal;
  color: $alkali_metal;
}

.alkaline_earth_metal {
  border: $elementBoxBorder solid $alkaline_earth_metal;
  color: $alkaline_earth_metal;
}

.metalloid {
  border: $elementBoxBorder solid $metalloid;
  color: $metalloid;
}

.transition_metal {
  border: $elementBoxBorder solid $transition_metal;
  color: $transition_metal;
}

.metal {
  border: $elementBoxBorder solid $metal;
  color: $metal;
}

.halogen {
  border: $elementBoxBorder solid $halogen;
  color: $halogen;
}

.lanthanoid {
  border: $elementBoxBorder solid $lanthanoid;
  color: $lanthanoid;
}

.actinoid {
  border: $elementBoxBorder solid $actinoid;
  color: $actinoid;
}

.dim {
  opacity: 0.4;
  background-color: rgba(black, 0.2);
}
