.box {
  background-color: black;

  @include boxFixedProps;

  &:hover,
  &:focus {
    align-items: start;
    @include boxFocus;
    @include nameFocus;
    @include numberFocus;
    @include massFocus;
  }
}

.symbol {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  font-size: 140%;
  font-weight: bold;
}

.name {
  display: none;
  transition: opacity 0.4s ease 0.6s;
}

.number {
  display: none;
  transition: opacity 0.4s ease 0.6s;
}

.mass {
  display: none;
  transition: opacity 1s ease 1s;
}

.boxFocused {
  @include boxFocus;
  @include nameFocus;
  @include numberFocus;
  @include massFocus;
}

// ----

.h {
  grid-column: 1 / 18;
}

.be {
  grid-column: 2 / 13;
}

.mg {
  grid-column: 2 / 13;
}

.ba,
.ra {
  grid-column: 2 / span 2;
}

.nonmetal {
  border: $elementBoxBorder solid $nonmetal;
  color: $nonmetal;
}

.noble_gas {
  border: $elementBoxBorder solid $noble_gas;
  color: $noble_gas;
}

.alkali_metal {
  border: $elementBoxBorder solid $alkali_metal;
  color: $alkali_metal;
}

.alkaline_earth_metal {
  border: $elementBoxBorder solid $alkaline_earth_metal;
  color: $alkaline_earth_metal;
}

.metalloid {
  border: $elementBoxBorder solid $metalloid;
  color: $metalloid;
}

.transition_metal {
  border: $elementBoxBorder solid $transition_metal;
  color: $transition_metal;
}

.metal {
  border: $elementBoxBorder solid $metal;
  color: $metal;
}

.halogen {
  border: $elementBoxBorder solid $halogen;
  color: $halogen;
}

.lanthanoid {
  border: $elementBoxBorder solid $lanthanoid;
  color: $lanthanoid;
}

.actinoid {
  border: $elementBoxBorder solid $actinoid;
  color: $actinoid;
}

.dim {
  opacity: 0.4;
  background-color: rgba(black, 0.2);
}
