.legend {
  background-color: rgba($black, 0.9);
  padding: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  width: fit-content;

  margin-bottom: 2rem;
  margin-right: 2rem;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    &:hover {
      transform: scale(1.1);
      transition: all 0.1s;
    }
  }

  &__color {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;

    &--nonmetal {
      background-color: $nonmetal;
    }

    &--metal {
      background-color: $metal;
    }

    &--halogen {
      background-color: $halogen;
    }

    &--noble_gas {
      background-color: $noble_gas;
    }

    &--alkali_metal {
      background-color: $alkali_metal;
    }

    &--alkaline_earth_metal {
      background-color: $alkaline_earth_metal;
    }

    &--metalloid {
      background-color: $metalloid;
    }

    &--transition_metal {
      background-color: $transition_metal;
    }

    &--lanthanoid {
      background-color: $lanthanoid;
    }

    &--actinoid {
      background-color: $actinoid;
    }
  }

  &__text {
    margin-left: 2rem;
    font-size: 1.5rem;
    color: whitesmoke;
  }

  &__button {
    width: 8rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 1rem;

    color: fuchsia;
    background-color: $black;

    outline: none;
    border: none;
    padding: 1rem;
  }
}
