.legend {
  position: absolute;
  right: 0;

  display: flex;
  flex-direction: column;
  width: fit-content;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__color {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;

    &--nonmetal {
      background-color: $nonmetal;
    }

    &--metal {
      background-color: $metal;
    }

    &--halogen {
      background-color: $halogen;
    }

    &--noble_gas {
      background-color: $noble_gas;
    }

    &--alkali_metal {
      background-color: $alkali_metal;
    }

    &--alkaline_earth_metal {
      background-color: $alkaline_earth_metal;
    }

    &--metalloid {
      background-color: $metalloid;
    }

    &--transition_metal {
      background-color: $transition_metal;
    }

    &--lanthanoid {
      background-color: $lanthanoid;
    }

    &--actinoid {
      background-color: $actinoid;
    }
  }

  &__text {
    margin-left: 2rem;
    font-size: 1.5rem;
    color: whitesmoke;
  }
}
