.periodNumbers {
  display: grid;
  grid-template-rows: $periodBoxHeight repeat(7, $elementBoxHeight);
  grid-gap: 2px;
  margin-right: 2px;
}

.period {
  height: $elementBoxHeight;
  width: $periodBoxHeight;
  font-size: $periodFontSize;
  cursor: pointer;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid gray;

  &:first-child {
    height: $periodBoxHeight;
    border-bottom: none;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
    text-align: center;
  }
}
