.slider {
  &__container {
    position: absolute;
    right: $elementBoxWidth + 1rem;
    top: 1.5rem;

    width: 5 * $elementBoxWidth;

    display: flex;
    justify-content: space-between;
  }

  &__text {
    width: 44px;

    border-radius: 1rem;
    background-color: $black;
    color: white;
    padding: 0 6px;
  }

  &__range {
    width: 4 * $elementBoxWidth;
  }

  &__info {
    width: 10 * $elementBoxWidth;
    height: 3 * $elementBoxWidth;
    position: absolute;
    left: 2.1 * $elementBoxWidth;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;

    &--legend {
      grid-row: 1 / -1;
      grid-column: 1 / 4;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      justify-items: start;

      width: 80%;
    }

    &--legendItem {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &--temperature {
      grid-row: 1 / -1;
      grid-column: 4 / -1;

      color: white;
      font-size: 3rem;
    }

    &--unit {
      color: $liquid;
    }
  }
}

.physicalBox {
  @include boxFixedProps;
  color: black;

  &--legend {
    width: 4rem;
    height: 4rem;

    .symbol {
      font-size: 1.8rem;
    }
  }

  &--label {
    color: white;
    margin-left: 1rem;
    font-size: 2rem;
  }
}

.solid {
  background-color: $solid;
  border: $elementBoxBorder solid $solid;
}

.liquid {
  background-color: $liquid;
  border: $elementBoxBorder solid $liquid;
}
.gas {
  background-color: $gas;
  border: $elementBoxBorder solid $gas;
}

.unknown {
  background-color: $unknown;
  border: $elementBoxBorder solid $unknown;
}
