$elementBoxWidth: 6.3rem;
$elementBoxHeight: 6.3rem;
$elementBoxFontSize: 1.6rem;
$elementBoxBorder: 2px;
$periodBoxHeight: 2.5rem;
$periodFontSize: 2rem;

// Responsive breakpoints

$bp-largest: 81.25em;
$bp-large: 60.625em;
$bp-medium: 48.75em;
$bp-small: 37.5em;

// physical state colors

$solid: #d6ecef;
$liquid: #0f5e9c;
$gas: #800000;
$unknown: gray;
